.btn.btn-primary.loginbutton {
  border-radius: 20px;
  width: 100%;
  height: 50px;
  font-size: larger;
}

.loginsocial {
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.form-control {
  height: 40px;
  border-radius: 20px;
}

loginblocks {
  border-radius: 50px;
}

.loginblocks {
  border-radius: 50px;
}

loginbutton {
  background: rgba(5,5,5,0);
}

.loginrealbutton {
  background: rgba(238,238,238,0);
  padding: 0px;
  border-radius: 200px;
}

.loginbutton {
  background: rgba(238,238,238,0);
}

.logininput {
  border-radius: 20px;
  border-width: 0.5px;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  font-size: 14px;
}

#age {
  width: 50%;
}

.registerbutton {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  font-size: medium;
}

@media (min-width: 572px) {
  #loginrow {
    width: 60%;
  }
}

@media (max-width: 571px) {
  #loginrow {
    width: 100%;
  }
}

@media (min-width: 572px) {
  #loginheader {
    font-size: 45px;
  }
}

@media (max-width: 571px) {
  #loginheader {
    font-size: 30px;
  }
}

@media (max-width: 584px) {
  .chname {
    color: #e8e8e8;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
  }
}

@media (min-width: 585px) {
  .chname {
    color: #e8e8e8;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Poppins, sans-serif;
    font-size: 30px;
  }
}

.chimagecol {
  margin: 10px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 20px;
  width: 40%;
  max-width: 40%;
}

.chdetailscol {
  padding-top: 20px;
  height: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #e8e8e8;
  font-family: 'Poppins';
}

.figure-caption {
  font-size: 30px;
  color: #03989e;
  font-family: 'Poppins';
  font-weight: 700;
}

.figurelink {
  font-size: 15px;
  color: #03989e;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #e8e8e8;
}

.editorcreate {
  background: linear-gradient(135deg, #011b17, #03989e 99%);
  border-radius: 15px!important;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%!important;
}

.btn-group-lg > .btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.editandcreate {
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 25px;
  box-shadow: 0px 5px 20px rgba(132,134,136,0.09);
  padding-bottom: 0px;
  padding-top: 0px;
  background: linear-gradient(135deg, #000a16, #03989e);
}

.editandcreatetitles {
  font-size: 23px;
  text-align: center;
  color: #e8e8e8;
  font-family: 'Poppins';
  margin-bottom: 0px;
}

@media (max-width: 576px) {
  .editandcreate {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .editandcreate {
    width: 70%;
  }
}

.gradientbutton {
  background: linear-gradient(90deg, #000a16, #03989e);
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  margin-bottom: 5px;
}

.menuheading {
  color: #e8e8e8;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 35px;
  text-shadow: 0px 0px 11px rgba(232,232,232,0.73);
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0px 0px 6px;
}

.namespan {
  color: #03989e;
  font-family: 'Poppins';
}

.bigmother {
  margin: 0px;
  padding-top: 10px;
}

.characterdetails {
  padding-top: 20px;
}

.charactersdiv {
  width: 80%;
  margin-right: 0px;
  margin-left: 0px;
  background: #000605;
  border-radius: 40px;
  box-shadow: 0px 5px 20px var(--gray);
  padding-bottom: 0px;
  padding-top: 0px;
}

@media (min-width: 1200px) {
  .gradientbutton.menubutton {
    height: 45px;
  }
}

.welcometoenigmabutton {
  padding-bottom: 20px;
  height: 100%;
  max-width: 90%;
  text-align: right;
  padding-top: 20px;
  height: 100%;
}

.cerceve {
  background: linear-gradient(135deg, #000a16, #03989e);
  width: 100%;
  border-radius: 30px;
  margin: 0px;
}

.img-fluid.sideimage {
  width: 100%;
  margin: 0px;
  border-radius: 34px;
  padding: 7px;
}

.form-control.createid {
  margin-top: 5px;
  margin-bottom: 5px;
  background: #bfbfbf;
  border-radius: 15px;
}

.shadowbox {
  box-shadow: 0px 5px 20px var(--gray);
}

.sideimage {
  width: 100%;
}

.btn.btn-primary.gradientbutton.big {
  height: 40px!important;
}

.figurelink.icinde {
  color: #e8e8e8;
}

.bokeh {
  border-radius: 35px;
  padding-bottom: 40px;
  background-size: cover, auto;
}

.img-fluid.cerceve.qrcode {
}

.qrcode {
  padding-bottom: 9px;
}

.img-fluid.sideimage.nakedimage {
  border-radius: 25px;
}

